* { margin: 0; padding: 0; box-sizing: border-box; font-family: "Poppins", sans-serif; }

  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f5f6fa;
    display: flex;
    min-height: 100vh;
  }


  .sidebar {
    width: 240px;
    background: #111D4A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    height: 100vh;
    position: fixed;
  }

  .sidebar .logo {
    text-align: center;
    margin-bottom: 30px;
  }

  .sidebar .logo img {
    width: 200px;
  }

  .sidebar .menu {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    width: 100%;
  }

  .sidebar .menu li {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 25px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .sidebar .menu li img {
    width: 22px;
  }

  .sidebar .menu li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
  }

  .sidebar .menu li:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  .sidebar .menu li.ativo {
    background: rgba(255, 255, 255, 0.15);
    border-left: 4px solid white;
  }

  /* ====== CONTEÚDO PRINCIPAL ====== */
  .main-content {
    margin-left: 240px;
    flex: 1;
    padding: 40px;
  }

  .main-content h1 {
    font-size: 1.6rem;
    margin-bottom: 30px;
    color: #111D4A;
  }

  /* ====== CARDS DE RESUMO ====== */
  .cards-resumo {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }

  .card-resumo {
    flex: 1;
    min-width: 200px;
    background-color: #13357A;
    color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
  }

  .card-resumo h2 {
    font-size: 3.2rem;
    margin: 0;
  }

  /* ====== AÇÕES ====== */
  .acoes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
    gap: 20px;
  }

  .card-acao {
    background-color: #e7e9f1;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    font-weight: 600;
    color: #111D4A;
    transition: 0.3s;
    cursor: pointer;
  }

  .card-acao:hover {
    background-color: #d4d6e0;
    transform: translateY(-4px);
  }

  .card-acao img {
    width: 90px;
    height: 100px;
    margin-bottom: 6px;
  }

  .card-acao-botao {
    background: none;
    border: none;
    color: #111D4A;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }

  .card-acao {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card-acao:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  